<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, :class=>"span10" %>
    </div><br />    

    <div>
      <%= f.label :description, "Description" %>
      <%= f.cktext_area :description, :ckeditor => {:uiColor => "#AADC6E", :toolbar => 'MyToolbar'} %>
    </div><br />

    <!-- <div> -->
      <%#= f.label :title, "Tag" %>
      <%#= select_tag :tags,options_from_collection_for_select(@tags,:id,:name,@tags.map{|u|u.id.to_s}),:class=>"chosen-select",:multiple=>true,"data-placeholder"=>"Add Admins" %>
      <%#= f.text_field :tags, :class=>"span10", :placeholder=>"Add tags" %>
    <!-- </div><br />  -->
    <%= f.submit %>
  </div>
<% end %>
